body {
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
  }


h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: -1px;
    text-align: center;
}

h2 {
    font-family: DM Sans;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;
}

h3 {   
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.3px;
    text-align: center;
}

h5 {
font-size: 22px;
line-height: 32px;
text-align: center;

}

h5 > .lead {
    font-weight: 500;
}

p {
font-size: 16px;
line-height: 26px;
text-align: left;

/*
font-family: DM Sans;
font-size: 14px;
line-height: 26px;
letter-spacing: 2px;
text-align: center;
color: #FFFFFF;
*/
}

.nav__link,
button {
    font-family: "DM Sans", sans-serif;
    font-size: 1.125rem; /* 18px; */
    font-weight: 500;
    line-height: 26px;
}

button {
    text-align: center;
}

.nav__link {
    text-align: left;
}