.footer-content  {
    padding: 1.5rem 3rem;
}

.footer__top,
.footer__bottom {
    align-items: center;
}

.footer__socials {
    gap: 1rem;
}

.footer__group-links-social,
.footer__group-links,
.footer__group-links-text {
    flex-wrap: wrap;   
    padding-left: 0; 
    gap: 1.5rem;
}

.footer_navlink {
    color: #FFFFFF;
}

.divider {
    padding: 1.5rem 0rem;
}


@media (max-width: 768px) {
    .footer__top,
    .footer__socials,
    .footer__group-links,
    .footer__bottom {
        flex-direction: column;
    }
    .footer__group-links-text {
        margin-bottom: 0;
    }

    .footer__bottom,
    .footer__group-links-text {
       text-align: center;
    }
}