.footer-content  {
    padding: 1.5rem 3rem;
}

.footer__top,
.footer__bottom {
    align-items: center;
}

.footer__group-links {
    flex-wrap: wrap;   
    padding-left: 0; 
    gap: 1.5rem;
}

.footer_navlink {
    color: #FFFFFF;
}

.divider {
    padding: 1.5rem 0rem;
}