.button {
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background: #482BE7;
    color: #FFFFFF;
    padding: 16px 24px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
}
.button:hover {
    background:  #ae96bf;
}

.link-outline-button,
.link-outline-button-mobile  {
    background: none;
    border: 2px solid #ae96bf;
}

.link-outline-button-mobile {
    display: none;
}


@media (max-width: 768px) {
    .link-outline-button {
        display: none;
    }

    .link-outline-button-mobile {
        display: flex;
    }
   
}