<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
      
    
    </head>
    
    <body>
       

<!-- Clickable Card - -->

    <div class="card width-100">            
        <div class="card__content column">
            <div class="card__image-wrapper width-100">
                <img class="card__image width-100" src="../images/mozart.jpg" alt="Taco store sign hanging on an irregular structure" width="470" height="280" loading="lazy">
            </div>
            <div class="card__text column flexible is-centered">
                <p class="card__subtitle subheader__small margin-top">UI KIT</p>
                <h5 class="card__heading margin-bottom ">
                    Mozart Project
                </h5>
            </div>
            <a href="#card-link" class="card__link"></a>
        </div>
    </div>

<!-- Team Member Card - -->

<div class="card__team width-100">            
    <div class="card__content column">
        <div class="card__user-image-wrapper width-100">
            <img class="card__user-image width-100" src="../images/member1.jfif" alt="user picture" width="250" height="250" loading="lazy">
        </div>
        <div class="card__text column flexible">
          
            <h5 class="card__heading margin-top">
                Lea Salomon
            </h5>
            <p class="card__subtitle subheader__small margin-top">UI Designer</p>
            <div>
                <ul class="card__socials row no-bullets is-equally-spaced">                       
                    <li>
                        <a href="#" class="nav__link text-left">
                            <img class="nav__icon" src="../images/fa-twitter.svg" alt="twitter icon" width="21" height="14" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav__link text-left">
                            <img class="nav__icon" src="../images/fa-facebook-square.svg" alt="facebook icon" width="21" height="14" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav__link text-left">
                            <img class="nav__icon" src="../images/fa-dribbble.svg" alt="dribbble icon" width="21" height="14" loading="lazy">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav__link text-left">
                            <img class="nav__icon" src="../images/fa-instagram.svg" alt="instagram icon" width="21" height="14" loading="lazy">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


    </body>
    
    </html>