<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Globals -->
        <link rel="stylesheet" href="../css/globals/font-face.css">
        <link rel="stylesheet" href="../css/globals/base.css">
        <link rel="stylesheet" href="../css/globals/utilities.css">
          
        <!-- Atoms -->
        <link rel="stylesheet" href="../css/atoms/button.css">

        <!-- Components -->
        <link rel="stylesheet" href="../css/components/card.css">
      
    
    </head>
    
    <body>
       

<!-- Clickable Card - -->

    <div class="card">            
        <div class="card__content column">
            <div class="card__image-wrapper">
                <img class="card__image" src="../images/mozart.jpg" alt="Taco store sign hanging on an irregular structure" width="470" height="280" loading="lazy">
            </div>
            <div class="card__text column flexible is-centered">
                <p class="card__subtitle subheader__small margin-top">UI KIT</p>
                <h5 class="card__heading margin-bottom ">
                    Mozart Project
                </h5>
            </div>
            <a href="#card-link" class="card__link"></a>
        </div>
    </div>


    </body>
    
    </html>