.hero__header,
.subheader__image {
    background: #2F1893;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    padding: 18rem 2rem 12rem 2rem;
}

.hero__header {
    background-image: linear-gradient(rgba(47, 24, 147, 0.3), rgba(47, 24, 147, 0.5)), url("../../images/header.jfif");
   }

.subheader__image {
     background-image: linear-gradient(rgba(47, 24, 147, 0.3), rgba(47, 24, 147, 0.5)), url("../../images/subheader-image.jfif");
}

.hero__main-content,
.subheader__main-content {
    margin: auto;
    color: white;
    max-width: 100%;
}

.hero__main-content {
    width: 100%;
}

.subheader__main-content {
    width: 70%;
}

.hero__header-lead {
    width: 55%;
}

.subheader-lead {
    width: 80%;
}
.hero__header-button {
    margin-top: 6rem;
} 


@media (max-width: 768px) {
    .hero__header-lead {
        width: 100%;
    }
}