header {
    background: #2F1893;
    background-image: linear-gradient(rgba(47, 24, 147, 0.3), rgba(47, 24, 147, 0.5)), url("../../images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    padding: 6rem;
}

.hero__main-content {
    width: 100%;
    max-width: 100%; 
    margin: auto;
    color: white;
}

.hero__header-lead {
    width: 60%;
}

.hero__header-button {
    margin-top: 6rem;
} 


@media (max-width: 768px) {
    .hero__header-lead {
        width: 100%;
    }

   
}