.showcase {
    padding: 5rem 0rem;
}


.showcase__main-content {
    margin: auto;  
}

.showcase__card-wrapper {
    flex-wrap: wrap;  
}

.showcase__heading {
    align-items: center;
    padding: 0rem 1rem;
    flex-wrap: wrap;
}


/* Team Section */
.team {
    padding: 2rem 0rem;
}

.team__main-content {
    width: 55%;
    margin: 0rem 3rem;
   
}

.team__card-wrapper {
    flex-wrap: wrap;
    gap: 1rem;
}


@media (max-width: 768px) {
    .showcase__heading {
        justify-content: center;
    }

    .showcase__card-button {
        width: 100%;
    }

    .team__main-content {
        width: 90%;
        margin: 0rem auto;
       
}
    .team__heading {
        align-items: center;
    }

}