
.showcase__main-content {
    margin: auto;
    max-width: 100%;
    width: 75%;
}

.showcase__card-wrapper {
    flex-wrap: wrap;
   
   
}

.showcase__heading {
    align-items: center;
    padding: 0rem 1rem;
}